$black: #000;
@mixin d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-grid($col) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include d-flex();
    height: 100vh;
    background-color: $black;
    overflow: hidden;
}

.board {
    width: 1000px;
    height: 620px;
    border: 1px solid $black;
    position: relative;
    z-index: 0;
    background-color: #008013;
    .player {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: $black;
        z-index: 1;
        background: url('/img/d1773bff-e36c-4578-b761-68746b1ea592.svg');
        background-position: center;
        background-size: cover;
    }
    .moving {
        position: absolute;
    }
    .addon {
        @extend .player;
        position: absolute;
        background-color: black;
        background-image: none;
    }
}

.point {
    width: 30px;
    height: 30px;
    background-color: $black;
    position: absolute;
    border-radius: 20px;
}